/*
* generic
*/

.glass {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

/*
* main carousel
*/

#carousel {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

#carousel-navigation {
    position: absolute;
    width: 100%;
    height: 158px;  
    top: 330px;
    z-index: 5;
}

#carousel-navigation a {
    display: block;
    width: 98px;
    height: 158px;
    cursor: auto;
    color: transparent; 
}

#carousel-navigation a.left {
    float: left;
    background-image: url("../images/main/carousel_left.png");  
}

#carousel-navigation a.right {
    float: right;
    background-image: url("../images/main/carousel_right.png");  
}

#container {
    background-image: url("../images/main/background_1.jpg");
    background-position: top center;
}

.top-down-animated {
    position: absolute;
    top: -1000px;
    z-index: 6;
}

/*
* search box
*/

#search {	
    height: 281px;
    position: relative;
    z-index: 6;
}

#search .header {
    position: absolute;	
    top: 62px;
    left: 39px;	
}

#type {
    position: absolute;
    left: 400px;
    top: 170px;
}

#city {
    position: absolute;
    left: 40px;
    top: 170px; 
}

#search form input {
    background-color: #b84e00;
    border: none;
    color: #ffffff;
    width: 120px;
    height: 47px;
    border-radius: 4px; 
    position: absolute;
    left: 800px;
    top: 170px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer; 
}   

#search .header h1 {
    font-size: 43px;
    text-transform:uppercase; 
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    line-height: 45px;	
}

#search .header h1:first-child {
    color: #ffffff;
}

#search .header h1:last-child {
    color: #e38000;
}

#search div.dd-select {
    width: 200px;
    background-color: #000000;  
    border-radius: 8px;
    border: 2px solid #e38000; 
    height: 44px;
}

#search .dd-pointer-down {
    display: none;    
}

#search div.dd-select a {
    background-image: url("../images/main/search_small_thingi.png");
    background-repeat: no-repeat;
    background-position: right  16px;
}

#search .dd-container a,
#search .dd-container label {
    color: #ffffff;	    
}
	
#search .dd-options  {
    background-color: #000000;
    box-shadow: none;
    border:1px solid #000000;
    margin-left: 1px;	
    border-radius: 8px;
}

#search .dd-options > li:last-child > .dd-option {
    border-bottom: none;
}

#search .dd-option  {
    border-bottom: 1px solid #424242;     
}

#search a.dd-option {
   background-color: transparent;     
}

#search ul li a:hover label {
    color:#e38000;           
}

#search .dd-option-selected {
    background-color: #000000;
}
		
/*
* about
*/

#about {
	margin-top: 100px;
	width: 900px;
	color: #ffffff;
	padding: 30px;
	position: relative;
	font-size: 14px;	
}

#about h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;	
}

#about .intro p {
    width:435px;	
}

#about .intro p.left {
    float:left;
}

#about .intro p.right {
    float:right;
}

#about .offer {
   padding-top: 32px;
   margin-top: 32px;
   background-image: url("../images/main/about_separator.jpg");
   background-repeat: no-repeat;
   background-position: top center;
}


#about .offer ul li:first-child {
    margin-left: 0px;
}

#about .offer ul li {
	display: block;
	background-color :#000000;
    float: left;
    width: 435px;
    height: 420px;	
    border-radius: 5px;
    margin-left: 30px;
    position: relative;
}

#about .offer ul li h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0px 17px 12px;
    background-image: url("../images/main/dot.jpg");
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding-left: 17px;
}

#about .offer ul li img {
    margin: 0px 0px 27px 5px;
}

#about .offer ul li p {
    padding: 0px 30px 19px 30px;	
}

#about .offer ul li a {
	position:absolute;
	left: 30px;
	bottom: 27px;
    text-transform: uppercase;
    color: #e58000;
}

#about .offer ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#about .navigation {
    position: absolute;
    width: 25px;
    height: 47px;
    display: block;
    top:400px;	
}

#about .navigation.left {
    background-image: url("../images/main/small_arrow_left.png");
    left:-25px; 
}

#about .navigation.right {
    background-image: url("../images/main/small_arrow_right.png");
    right:-25px; 
}


	
	